@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core!";
    var message = Request.Query["m"];
    if (String.IsNullOrEmpty(message))
    {
        // set message to a random message
        message = Model.Messages[new Random().Next(Model.Messages.Length)];
    }
    var asciiArt = AsciiArt.CreateDotnetMona(message);
}
<div class="cli">
    <div class="cli-example">        
@asciiArt
    </div>
</div>


